.authContainer {
  width: 100vw;
  height: 100svh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .formCard {
    width: 400px;
    padding: 0 50px;
    padding-bottom: 3%;
    // min-width: 300px;
    min-height: 50svh;

    overflow-y: auto;

    form {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}

.homeContainer {
  width: 100vw;
  min-height: 100svh;

  display: flex;
  flex-direction: column;
  align-items: center;

  overflow-x: hidden;
  overflow-y: hidden;

  .upperNav {
    text-align: center;
  }

  .homeContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;

    padding: 20px;

    .gamesList {
      margin-top: 50px;
      max-height: 75%;
      width: 95vw;
      max-width: 800px;
      overflow-x: auto;
      overflow-y: auto;
    }

    .addGameButtonContainer {
      display: flex;
      justify-content: center;
      max-width: 800px;
    }
  }

  .bottomNav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
  }
}

@media only screen and (max-width: 500px) {
  .authContainer {
    .formCard {
      padding: 0 5px;
      margin: 0 15px;
      width: auto;
    }
  }
}
